@font-face {
  font-family: 'Jetbrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/JetbrainsMono/JetBrainsMono-Regular.ttf'), local('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf'), local('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Roboto/Roboto-Regular.ttf'), local('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/FiraSans/FiraSans-Regular.ttf'), local('ttf');
  font-display: swap;
}